// .grid{
//     display: flex;
// }

// .grid-2{
//     padding: 35px;

//     h1{
//         letter-spacing: 8px;
//         font-size: 1.3rem;
//         font-weight: 600;
//         text-transform: uppercase;
//         margin: 15px 0;
//     }

//     p{
//         line-height: 20px;
//         color: var(--Grey-500);
//     }
// }

.grid {
  display: flex;

    @media (max-width: 768px) {
        flex-direction: column;
  }
}

.grid-1 img{
  width: 29.17vw; // 420px → (420 / 1440) * 100
    @media (max-width: 768px) {
        width: 100vw;
        height: 50vw;
  }
}

.grid-2 {
  width: 40.28vw; // 580px → (580 / 1440) * 100
  padding: 2.43vw; // 35px

  h1 {
    letter-spacing: 0.56vw; // 8px
    font-size: clamp(0.9rem, 1.1vw, 1.2rem);// optionally clamp for responsiveness
    font-weight: 600;
    text-transform: uppercase;
    margin: 1.04vw 0; // 15px
  }

  p {
    // line-height: 1.39vw; // 20px
    font-size: clamp(0.75rem, 1.1vw, 1.2rem);
    color: var(--Grey-500);
  }

    @media (max-width: 768px) {
        width: 100vw;
  }

}

.grid-3 img{
  width: 30.56vw; // 440px → (440 / 1440) * 100
    @media (max-width: 768px) {
        width: 100vw;
        height: 50vw;
  }
}

